---
- name: Allow user tonda to use kubectl on control-plane nodes
  hosts: control_plane
  become: true
  vars:
    k3s_kubeconfig: /etc/rancher/k3s/k3s.yaml
    user_name: tonda
    user_home: "/home/{{ user_name }}"
  tasks:
    - name: Ensure user's .kube directory exists
      file:
        path: "{{ user_home }}/.kube"
        state: directory
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: "0700"

    - name: Copy kubeconfig to user
      copy:
        src: "{{ k3s_kubeconfig }}"
        dest: "{{ user_home }}/.kube/config"
        remote_src: true
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: "0600"

    - name: Ensure KUBECONFIG export in .bashrc
      lineinfile:
        path: "{{ user_home }}/.bashrc"
        line: 'export KUBECONFIG=$HOME/.kube/config'
        create: true
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: "0644"

